html,body,figure,h2,h3,h1{
    margin: 0;
    scroll-behavior: smooth;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}



a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

body{
    background: #000;
}

header{
    display: flex;
    justify-content: space-between;
    background: #0b0b0b;
    padding: 20px 68px;
    position: fixed;
    width: 100%;
    font-size: 15px;
    z-index: 20000;
    box-sizing: border-box;
    .logo{
        display: flex;
        align-items: center;
        a{
            display: block;
            cursor: pointer;
        }
        a:nth-child(2)::before{
            content: '';
            display: inline-block;
            border-right: 1px solid #fff;
            width: 1px;
            height: 37px;
            margin: 0 30px;
            opacity: 0.2;
        }
    }
    .menu_set{
        display: flex;
        align-items: center;
        .menu{
            span{
                margin-right: 28px;
                opacity: 0.7;
                font-weight: 600;
                a{
                    font-size: 15px;
                }
            }
            span:hover{
                opacity: 1;
            }
            
        }
    }
    .b_btn{
        display: flex;
        align-items: center;
        a:nth-child(1){
            padding-right: 30px;
            opacity: 0.7;
        }
        a:nth-child(1):hover{
            opacity: 1;
        }
        
    }
}

// header


footer{
    position: relative;
    z-index: 10002;
    background: #101010;
    padding: 119px 0 110px;
    text-align: center;
    .top_icon{
        position: absolute;
        top: 66px;
        right: 66px;
        cursor: pointer;
    }
    a{
        margin-bottom: 26px;
        display: inline-block;
        img{
            width: 97px;
        }
    }
    .footer_txt{
        margin-bottom: 29px;
        padding-left: 33px;
        margin-bottom: 29px;
        font-size: 13px;
        span{
            color: #666;
            margin-right: 20px;
        }
        span:nth-child(1)::after{
            content: '';
            display: inline-block;
            width: 1px;
            height: 10px;
            background: #666;
            margin-left: 20px;
        }
        span:nth-child(2)::after{
            content: '';
            display: inline-block;
            width: 1px;
            height: 10px;
            background: #666;
            margin-left: 20px;
        }
    }
    .f_icon{
        width: 100%;
        margin-bottom: 50px;
        .sns_icon{
            display: flex;
            justify-content: center;
            a{
                margin: 0;
                margin: 0 16px;
                img{
                    width: 20px;
                    height: 20px;
                    opacity: 0.3;
                }
            }
        }
    }
    .address{
        width: 56%;
        margin: 0 auto;
        margin-bottom: 30px;
        span{
            color:#2f2f2f;
            font-size: 14px;
            margin-right: 30px;
        }
    }
    .copy{
        color: #2f2f2f;
        font-size: 13px;
        font-weight: 700;
    }
}